body {
  background-color: transparent;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid gray;
}

button {
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

button:hover:enabled {
  border: 2px solid orange;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.answer {
  border: 1px solid orange;
  border-radius: 4px;
  padding: 4px;
}

textarea {
  width: 100%;
  border-radius: 4px;
  border: 2px solid gray;
}

pre {
  border-radius: 4px;
  padding: 4px;
  max-height: 150px;
  overflow: scroll;
  background-color: rgb(0, 0, 0, 0.4);
  margin: 0;
}

.multiselectOption {
  border: 1px solid gray;
  border-radius: 4px;
  padding-top: 4px;
  cursor: pointer;
}

.multiselectOption:hover {
  border: 2px solid orange;
}

.multiselectContainer {
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.multiselectButtonsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  order: 1;
}

.delSelectedRangeButton {
  align-self: right;
  padding: 0px;
  padding-right: 4px;
  padding-left: 4px;
  margin: 0;
  margin-right: 2px;
  border: none;
  border-radius: 4px;
}

.delSelectedRangeButton:hover:enabled {
  border: none;
}

.multiselectOptionTopDiv {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
