@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-dark: 37 37 38;
  --vsc-background: 30 30 30;
  --button-color: rgb(113, 28, 59);
  --button-color-hover: rgba(113, 28, 59, 0.667);
  --def-border-radius: 5px;
}

html,
body,
#root {
  height: calc(100% - 7px);
}

body {
  background-color: var(--vsc-background);
  padding: 0;
  color: white;
  font-family: "Arial", sans-serif;
  padding: 0px;
  margin: 0px;
}
